# Ignore compiled output
*.o
*.exe
target/
.venv-devwrap
test/
models/

# dependencies
/node_modules/
/frontend/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Lock file
package-lock.json
package.json

# Ignore log files
*.log
logs/

# Ignore temporary files
*.tmp
temp/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore sensitive information (e.g., API keys)
config.ini