# Ignore compiled output
*.o
*.exe
target/
.venv-devwrap
test/
models/



# Ignore log files
*.log
logs/

# Ignore temporary files
*.tmp
temp/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore sensitive information (e.g., API keys)
config.ini